* {
  margin: 0;
  padding: 0;
  font-family: "Play", sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  background-image: url(forest.jpg);
}

input {
  position: fixed;
  top: 600px;
  width: 240px;
  height: 30px;
  text-align: center;
  outline: none;
}

#pokedex {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#pokemon {
  width: 140px;
  position: fixed;
  top: 350px;
  left: 878px;
  display: none;
}
.bnt-search,
input {
  font-size: 15px;
  border: 2px solid #333;
  box-shadow: -2.5px 2.5px 0 #888, -4.5px 4.5px 0 #333;
  border-radius: 4px;
  left: 50%;
  transform: translate(-50%, 0);
}
.bnt-search {
  width: 100px;
  height: 30px;
  position: fixed;
  top: 700px;
  padding: 5px;
}
.bnt-search:hover {
  cursor: pointer;
  background-color: #b7aeae;
}
